.text-5em
{
    font-size: 5em;
}

.text-5em-important
{
    font-size: 5em !important;
}

.margin-top-7
{
    margin-top: 7px;
}

.margin-top-7-important
{
    margin-top: 7px !important;
}

.back-indigo-blue
{
    background: #3F51B5;
}

.back-indigo-blue-important
{
    background: #3F51B5 !important;
}

.back-indigo-blue:hover
{
    background: #3F51B5;
}

.margin-top-5
{
    margin-top: 5px;
}

.margin-top-5-important
{
    margin-top: 5px !important;
}

.margin-top-10
{
    margin-top: 10px;
}

.margin-top-10-important
{
    margin-top: 10px !important;
}

.margin-top--90
{
    margin-top: -90px;
}

.margin-top-15
{
    margin-top: 15px;
}

.margin-top-15-important
{
    margin-top: 15px !important;
}

.color-999
{
    color: #999;
}

.color-999-important
{
    color: #999 !important;
}

.text-36
{
    font-size: 36px;
}

.text-36-important
{
    font-size: 36px !important;
}

.text-11
{
    font-size: 11px;
}

.text-11-important
{
    font-size: 11px !important;
}

.border-none
{
    border: 0;
}

.border-none-important
{
    border: 0 !important;
}

.line-height-30
{
    line-height: 30px;
}

.line-height-30-important
{
    line-height: 30px !important;
}

.mdl-button--fab.fab-30
{
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  margin: auto;
  min-width: 30px;
  width: 30px;
  padding: 0;
  overflow: hidden;
  background: rgba(158,158,158, 0.20);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  line-height: normal;
}

.overflow-x-scroll
{
    overflow-x: scroll;
}

.overflow-x-scroll-important
{
    overflow-x: scroll !important;
}

.table-text-align-left tr,
 .table-text-align-left td
{
    text-align: left;
}

.table-text-align-left-important tr,
.table-text-align-left-important td
{
    text-align: left;
}

.child-th-text-align-left th
{
    text-align: left;
}

.child-th-text-align-left-important th
{
    text-align: left !important;
}

.top--75
{
    top: -75px;
}

.padding-top-bottom-5
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-top-bottom-5-important
{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-5
{
    padding: 5px;
}

.padding-5-important
{
    padding: 5px !important;
}

.max-height-148
{
    max-height: 148px;
}

.max-height-148-important
{
    max-height: 148px !important;
}

.padding-top-0-important
{
    padding-top: 0 !important;
}

.padding-left-right-0
{
    padding-left: 0;
    padding-right: 0;
}

.padding-left-right-0-important
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.back-steel-blue
{
    background: #3F51B5;
    background-color: #3F51B5;
}

.back-steel-blue-important
{
    background: #3F51B5 !important;
    background-color: #3F51B5 !important;
}

.back-steel-blue:hover,
.back-steel-blue:focus
{
    background: #3F51B5;
    background-color: #3F51B5;
    opacity: 0.8;
}

.back-steel-blue-important:hover,
.back-steel-blue-important:focus
{
    background: #3F51B5 !important;
    background-color: #3F51B5 !important;
    opacity: 0.8;
}

.alert
{
    padding: 5px;
    border-radius: 3px;
}

.back-gray
{
    background: rgb(245,245,245);
}

.back-gray-important
{
    background: rgb(245,245,245) !Important;
}

.visibility-hidden
{
    visibility: hidden;
}

.max-width-1280
{
    max-width: 1280px;
}

.max-width-1280-important
{
    max-width: 1280px !important;
}

.margin-auto
{
    margin: auto;
}

.margin-auto-important
{
    margin: auto !important;
}

.bottom--40
{
    bottom: -40px;
}

.bottom--40-important
{
    bottom: -40px !important;
}

.gray-box
{
    background: #607D8B;
    padding: 5px 10px;
    border-radius: 5px;
}

.margin-top--95
{
    margin-top: -95px;
}

.margin-top--95-important
{
    margin-top: -95px !important;
}

.line-height-1-5
{
    line-height: 1.5;
}

.margin-bottom-25
{
    margin-bottom: 25px;
}

.margin-bottom-25-important
{
    margin-bottom: 25px !important;
}

.margin-bottom-50
{
    margin-bottom: 50px;
}

.margin-bottom-50-important
{
    margin-bottom: 50px !important;
}

.margin-top--80
{
    margin-top: -80px;
}

.margin-top--80-important
{
    margin-top: -80px !important;
}

.min-height-48
{
    min-height: 48px;
}

.min-height-48-important
{
    min-height: 48px !Important;
}

.max-height-48
{
    max-height: 48px;
}

.max-height-48-important
{
    max-height: 48px !important;
}

.box-core-gray
{
    border: 1px solid #00BCD4;
    padding: 5px 15px;
    border-radius: 3px;
    background: #eee;
}

.padding-top-10
{
    padding-top: 10px;
}

.padding-top-10-important
{
    padding-top: 10px !important;
}

.without-padding-top
{
    padding-top: 0;
}

.without-padding-top-important
{
    padding-top: 0 !important;
}

.white-indicator .mdl-layout__tab.is-active::after
{
    background: #fff !important;
    height: 3px !important;
}

.child-i-color-white i
{
    color: #fff;
}

.child-i-color-white-important i
{
    color: #fff !important;
}

.back-royalblue
{
    background: #2196F3;
}

.back-royalblue-important
{
    background: #2196F3 !important;
}

.block-important
{
    display: block !Important;
}

.tab-bar-button-back-transparent .mdl-layout__tab-bar-button
{
    background: transparent;
}

.hide-tab-bar-button .mdl-layout__tab-bar-button
{

}

.hide-tab-bar-button-important .mdl-layout__tab-bar-button
{
}

.min-height-0
{
    min-height: 0;
}

.min-height-0-important
{
    min-height: 0 !important;
}

.back-transparent
{
    background: transparent;
}

.back-transparent-important
{
    background: transparent !important;
}

.realtive-mdl-layout__container .mdl-layout__container
{
    position: relative;
}

.realtive-mdl-layout__container-important .mdl-layout__container
{
    position: relative !Important;
}

.padding-top-20
{
    padding-top: 20px;
}

.padding-top-20-important
{
    padding-top: 20px !important;
}

.child-a-text-decoration-none a
{
    text-decoration: none;
}

.child-a-text-decoration-none-important a
{
    text-decoration: none !important;
}

.child-a-text-13 a
{
    font-size: 13px;
}

.child-a-text-13-important a
{
    font-size: 13px !Important;
}

.back-steel-gray
{
    background: #607D8B;
    background-color: #607D8B;
}

.back-steel-gray-important
{
    background: #607D8B !important;
    background-color: #607D8B !important;
}

.text-decoration-none
{
    text-decoration: none;
}

.text-decoration-none-important
{
    text-decoration: none !important;
}

.padding-top-bottom-15
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-top-bottom-15-important
{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.lay
{
    box-sizing: border-box;
    padding: 0 0.75rem;
    float: left;
}

.lay-no-float
{
    box-sizing: border-box;
    padding: 0 0.75rem;
}

.margin-top--12-important
{
    margin-top: -12px;
}

.margin-top--12-important
{
    margin-top: -12px !Important;
}

.line-height-1-4
{
    line-height: 1.4;
}

.line-height-1-4-important
{
    line-height: 1.4 !important;
}

.back-purple
{
    background: #3F51B5;
}

.back-purple-important
{
    background: #3F51B5 !important;
}

.back-teal
{
    background: #009688;
}

.back-teal-important
{
    background: #009688 !Important;
}

.back-yellow
{
    background; #FFEB3B;
}

.back-yellow-important
{
    background: #FFEB3B !important;
}

.color-white-important
{
    color: #fff !important;
}

.margin-bottom-10
{
    margin-bottom: 10px;
}

.margin-bottom-10-important
{
    margin-bottom: 10px !important;
}

.padding-bottom-15
{
    padding-bottom: 15px;
}

.padding-bottom-15-important
{
    padding-bottom: 15px !important;
}

.row-5
{
    margin-left: -5px;
    margin-right: -5px;
}

.border-bottom-1
{
    border-bottom: 1px solid #E9E9E9;
}

.back-green
{
    backgrond: #4CAF50;
    background-color: #4CAF50;
}

.back-green-important
{
    backgrond: #4CAF50 !important;
    background-color: #4CAF50 !important;
}

.margin-top-bottom-10
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-top-bottom-10-important
{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-top-bottom-5
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-top-bottom-5-important
{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.line-height-1-3
{
    line-height: 1.3;
}

.line-height-1-3-important
{
    line-height: 1.3 !important;
}

.padding-left-right-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.padding-left-right-15-important
{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.uppercase
{
    text-transform: uppercase !important;
}

.color-core-red
{
    color: #00BCD4;
}

.back-core-red
{
    background: #00BCD4 !important;
    background-color: #00BCD4 !important;
}

.mycontainer
{
    /*max-width: 1366px;*/
    margin: auto;
    display: block;
    width: 100%;
}

.container
{
    max-width: 1280px;
    margin: auto;
    display: block;
    width: 100%;
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
}

.vertical-middle
{
    vertical-align: middle;
}

.back-black
{
    background: #000;
}

.hover-back-core:hover
{
    background: #00bcd4;
    color: #fff;
}

body .padding-15
{
	padding: 15px;
}

.o-hidden
{
    overflow: hidden !Important;
}

.left
{
    float: left !important;
}

.right
{
    float: right !important;
}

p
{
    margin: 5px 0;
}

.color-white
{
    color: #FFF;
}

.full
{
    width: 100%;
}

.without-padding
{
    padding: 0 !Important;
}

.without-margin
{
    margin: 0 !important;
}

.padding-top-12
{
    padding-top: 12px;
}

.border-radius-18
{
    border-radius: 18px;
}

.f-size-14
{
    font-size: 14px;
}

.text-align-center
{
    text-align: center;
}

.text-align-right
{
    text-align: right;
}

.a-color-white a
{
    color: #fff;
    text-decoration: none;
}

.without-left-margin
{
    margin-left: 0 !important;
}

.height-auto
{
    height: auto;
}

.margin-right-10
{
    margin-right: 10px;
}

.inline-block
{
    display: inline-block;
}

.margin-right-15
{
    margin-right: 15px;
}

.margin-left-15
{
    margin-left: 15px;
}

.margin-right--15
{
    margin-right: -15px;
}

.margin-right-0
{
	margin-right: 0px;
}

.block
{
    display: block;
}

.margin-left-3rem
{
    margin-left: 3rem;
}

.margin-left-1rem
{
    margin-left: 1rem;
}

.margin-left-hrem
{
    margin-left: 0.5rem;
}

.padding-left-1rem
{
    padding-left: 1rem;
}

.padding-left-hrem
{
    padding-left: 0.5rem;
}

.width-95
{
    width: 95% !important;
}

.text-25
{
    font-size: 25px;
}

.no-text-decoration
{
    text-decoration: none;
}

.padding-top-15
{
    padding-top: 15px;
}

.margin-left-right-5
{
    margin: 0 5px;
}

.border-radius-round
{
    border-radius: 50%;
}

.max-width-600
{
    max-width: 600px !important;
}

.width-80
{
    width: 80% !important;
}

.my-dialog
{
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    z-index: 99999;
    top: 10%;
    position: fixed;
}

p.small
{
    color: #999;
    font-size: 12px;
}

.back-core-pink
{
    background: #FF4081 !Important;
    background-color: #FF4081 !important
}

.mdl-pink-tabs.is-upgraded .mdl-tabs__tab.is-active:after
{
    background: #FF4081 !important;
    height: 3px;
}

.text-26
{
    font-size: 26px;
}

.collapsible li
{
    list-style: none;
}

.section-title
{
    font-weight: bold;
}

.border-bottom
{
    border-bottom: 1px solid;
}

.text-16
{
    font-size: 16px;
}

.text-align-left
{
    text-align: left;
}

.margin-top--10
{
    margin-top: -10px;
}


.left-0
{
    left: 0;
}

.bottom-auto
{
    bottom: auto;
}

.bottom-auto-important
{
    bottom: auto !important;
}

.top-0
{
    top: 0;
}

.top-0-important
{
    top: 0 !Important;
}

.margin-top-bottom-20
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-top-bottom-20-important
{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.overflow-auto
{
    overflow: auto;
}

.overflow-auto-important
{
    overflow: auto !important;
}

.height-full
{
    height: 100%;
}

.height-full-important
{
    height: 100% !important;
}

/*
| More than Tablet
| Large Devices only
*/
@media(min-width:992px)
{
    .l-margin-left-20
    {
        margin-left: 20px !Important;
    }

    .l-without-left-margin
    {
        margin-left: 0 !important;
    }

    .l-text-align-right
    {
        text-align: right !important;
    }
}

/*
| More than Smartphone & less than large device
| Tablet Devices
*/
@media(max-width: 991px) and (min-width: 481px)
{

    .mdl-layout--large-screen-only
    {
        display: none;
    }

    .mdl-layout__tab-bar
    {
        padding: 0;
        width: 100%;
    }

    .m-text-align-center
    {
        text-align: center !important;
    }

    .m-margin-top-bottom-20
    {
        margin: 20px 0 !important;
    }

    .m-padding-left-15
    {
        padding-left: 15px !important;
    }

    .m-padding-left-40
    {
        padding-left: 40px !important;
    }

    .m-padding-left-20
    {
        padding-left: 20px !important;
    }

    .m-padding-10
    {
        padding: 10px !important;
    }

    .m-left
    {
        float: left !Important;
    }
}

/*
| Mobile & Smartphone devices
*/
@media(max-width: 480px)
{
    .s-padding-top-55
    {
        padding-top: 55px;
    }

    .s-margin-top-45
    {
        margin-top: 45px;
    }

    .s-margin-top-45-important
    {
        margin-top: 45px !important;
    }

    .s-block
    {
        display:block;
    }

    .s-block-important
    {
        display:block !important;
    }

    .s-left-0
    {
        left: 0;
    }

    .s-left-0-important
    {
        left: 0 !important;
    }

    .s-right-0
    {
        right: 0;
    }

    .s-right-0-important
    {
        right: 0 !important;
    }

    .s-top-35
    {
        top:35px;
    }

    .s-top-35-important
    {
        top:35px !important;
    }

    .s-top-0
    {
        top:0;
    }

    .s-top-0-important
    {
        top:0 !important;
    }

    .s-absolute
    {
        position: absolute;
    }

    .s-absolute-important
    {
        position: absolute !important;
    }

    .mdl-layout--large-screen-only
    {
        display: none;
    }

    .mdl-layout__tab-bar
    {
        width: 100%;
        padding: 0;
    }

    .s1
    {
    	width: 8.333333%;
    }

    .s1-important
    {
    	width: 8.333333% !important;
    }

    .s2
    {
    	width: 16.666667%;
    }

    .s2-important
    {
    	width: 16.666667% !important;
    }

    .s3
    {
    	width: 25%;
    }

    .s3-important
    {
    	width: 25% !important;
    }

    .s4
    {
    	width: 33.333333%;
    }

    .s4-important
    {
    	width: 33.333333% !important;
    }

    .s5
    {
    	width: 41.666667%;
    }

    .s5-important
    {
    	width: 41.666667% !important;
    }

    .s6
    {
    	width: 50%;
    }

    .s6-important
    {
    	width: 50% !important;
    }

    .s7
    {
    	width: 58.333333%;
    }

    .s7-important
    {
    	width: 58.333333% !important;
    }

    .s8
    {
    	width: 66.666667%;
    }

    .s8-important
    {
    	width: 66.666667% !important;
    }

    .s9
    {
    	width: 75%;
    }

    .s9-important
    {
    	width: 75% !important;
    }

    .s10
    {
    	width: 83.333333%;
    }

    .s10-important
    {
    	width: 83.333333% !important;
    }

    .s11
    {
    	width: 91.666667%;
    }

    .s11-important
    {
    	width: 91.666667% !Important;
    }

    .s12
    {
    	width: 100%;
    }

    .s12-important
    {
    	width: 100% !important;
    }

    .s-back-white
    {
        background: #fff;
    }

    .s-back-white-important
    {
        background: #fff !important;
    }

    .s-mdl-shadow--2dp
    {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

    .s-mdl-shadow-2dp-important
    {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
    }

    .s-padding-top-bottom-10
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .s-padding-top-bottom-10-important
    {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .s-padding-10
    {
        padding: 10px !important;
    }

    .s-without-padding
    {
        padding: 0 !Important;
    }

    .mdl-mega-footer
    {
        padding: 16px 15px;
    }

    .s-text-align-center
    {
        text-align: center !important;
    }

    .s-margin-top-bottom-20
    {
        margin: 20px 0 !important;
    }

    .s-padding-left-15
    {
        padding-left: 15px !important;
    }

    .s-padding-left-40
    {
        padding-left: 40px;
    }

    .s-full
    {
        width: 100% !Important;
        max-width: 100% !Important;
    }

    .s-without-border-radius
    {
        border-radius: 0 !Important;
    }

    .s-margin-top-bottom-5
    {
        margin: 5px 0 !Important;
    }

    .s-margin-top-10
    {
        margin-top: 10px !Important;
    }

    .s-margin-auto
    {
        margin: auto !Important;
    }

    .s-padding-10
    {
        padding: 10px;
    }

    .s-left
    {
        float: left !important;
    }

    .s-form-child-hide-prefix .prefix
    {
        display: none !important;
    }

    .s-form-child-hide-prefix .has-prefix input,
    .s-form-child-hide-prefix .has-prefix label,
    .s-form-child-hide-prefix .has-prefix textarea,
    .s-form-child-hide-prefix .has-prefix .mydefault,
    .s-form-child-hide-prefix .has-prefix select
    {
        margin-left: 0rem !important;
        width: 100% !important;
		/*min-height:35px;*/
    }

    .s-form-child-hide-prefix .has-prefix select.picker__select--year,
    .s-form-child-hide-prefix .has-prefix select.picker__select--month
    {
        width: 26% !Important;
        margin-left: .25em !important;
    }

    .s-max-width-56
    {
        max-width: 56px;
    }

}

.padding-20
{
    padding: 20px;
}

.without-margin-top
{
    margin-top: 0;
}

.without-margin-top-important
{
    margin-top: 0 !important;
}

.without-margin-bottom
{
    margin-bottom: 0 !important;
}

.without-margin-left
{
    margin-left: 0 !Important;
}

.text-24
{
    font-size:24px;
}

.text-24-important
{
    font-size:24px !important;
}

body .w-full
{
	width: 100% !important;
	max-width: 100% !important;
}

.text-18
{
    font-size: 18px;
}

.line-height-1
{
    line-height: 1;
}

.line-height-1-5
{
    line-height: 1.5;
}

.line-height-2
{
    line-height: 2;
}

.padding-bottom-70
{
    padding-bottom: 70px;
}

.padding-left-20
{
    padding-left: 20px;
}

.padding-left-10
{
    padding-left: 10px;
}

.padding-left-2
{
    padding-left: 2px;
}

body .full
{
    width: 100% !important;
	max-width: 100% !Important;
}

.o-visible
{
    overflow: visible;
}

.relative
{
    position: relative;
}

.relative-important
{
    position: relative !important;
}

.z-index-999
{
    z-index: 999;
}

.padding-left-16
{
    padding-left: 16px;
}

.border-box
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.margin-top--192
{
    margin-top: -192px;
}

.margin-left-18
{
    margin-left: 18px;
}

.margin-top-20
{
    margin-top: 20px !important;
}

.p-0
{
    padding: 0px;
}

.m-0
{
    margin: 0px;
}

.p-16
{
    padding: 16px;
}

.left
{
    float: left;
}

.pointer
{
    cursor: pointer;
}

.color-black
{
    color: #000;
}

.force-full
{
    width: 100% !Important;
}

.margin-top-30
{
	margin-top:30px;
}

.letter-spacing-3
{
    letter-spacing: 3px;
}

.font-normal
{
    font-weight: normal;
}

.font--47
{
    font-size: 47px;
}

.margin-bottom-80
{
    margin-bottom: 80px !important;
}

.back-white
{
    background: #fff !Important;
}

.width-full
{
    width: 100%;
}

.back-google
{
    background: #d34836;
}

.back-google-important
{
    background: #d34836 !important;
}

.back-google:hover,
.back-google:active,
.back-google:focus
{
    background: #E48D82;
}

.back-facebook
{
    background: #3b5998;
}

.back-facebook-important
{
    background: #3b5998 !important;
}

.back-facebook:hover,
.back-facebook:active,
.back-facebook:focus
{
    background: #6980B0;
}

.font-14
{
    font-size: 14px;
}

.font-16
{
    font-size: 16px;
}

body .none
{
    display: none;
}

.absolute-auto
{
    left: 0;
    right: 0;
}

.z-index-9999
{
    z-index: 9999 !important;
}

.padding-bottom-5
{
    padding-bottom: 5px;
}

.padding-bottom-20
{
    padding-bottom: 20px !important;
}

.without-padding-left
{
    padding-left: 0 !important;
}

.without-padding-left-right
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.margin-bottom-20
{
    margin-bottom: 20px;
}

.font-100
{
    font-size: 100px;
}

body .row
{
    margin-right: -15px;
    margin-left: -15px;
}

.row-important
{
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.margin-left-right-15
{
    margin: 0 15px;
}

.gray-back > .mdl-card__title
{
    background: #9E9E9E !important;
}

.margin-top-bottom-15
{
    margin: 15px 0 !important;
}

.margin-15
{
    margin: 15px;
}

.max-width-800
{
    max-width: 800px;
}

.without-padding-bottom
{
    padding-bottom: 0 !important;
}

.has-error
{
    color: #F44336;
}

.has-error-field
{
    border-bottom: 2px solid #F44336;
}

.mytextarea .mdl-textfield__label:after
{
    bottom: 0;
}

.absolute
{
    position: absolute !important;
}

.bottom-5
{
    bottom: 5px;
}

.fixed
{
    position: fixed !important;
}

.height-20
{
    height: 20px;
}

.height-20-important
{
    height: 20px !important;
}

.bottom-0
{
    bottom: 0;
}

.bottom-0-important
{
    bottom: 0 !important;
}

.bottom-auto
{
    bottom: auto;
}

.bottom-auto-important
{
    bottom: auto !Important;
}

.capitalize
{
    text-transform: capitalize;
}

.capitalize-important
{
    text-transform: capitalize !important;
}

/*
| Smartphone Devices only
*/
@media(max-width: 480px)
{

    .s-overflow-x-scroll
    {
        overflow-x: scroll;
    }

    .s-margin-top-20
    {
        margin-top: 20px !important;
    }

    .s-padding-bottom-20
    {
        padding-bottom: 20px !Important
    }

    .s-text-align-left
    {
        text-align: left !Important;
    }

    .s-text-24
    {
        font-size: 24px !Important;
    }

    .s-padding-left-15
    {
        padding-left: 15px;
    }

    .s-margin-top-bottom-10
    {
        margin: 10px 0 !Important;
    }

    .s-border-bottom
    {
        border-bottom: 1px solid;
    }

    .s-back-core-red
    {
        background: #00BCD4 !important;
        background-color: #00BCD4 !important;
    }

    .s-color-white
    {
        color: #fff;
    }

}

/*
| Tablet Devices only
*/
@media(min-width: 481px) and (max-width: 991px)
{
    .m1
    {
    	width: 8.333333%;
    }

    .m1-important
    {
    	width: 8.333333% !important;
    }

    .m2
    {
    	width: 16.666667%;
    }

    .m2-important
    {
    	width: 16.666667% !important;
    }

    .m3
    {
    	width: 25%;
    }

    .m3-important
    {
    	width: 25% !important;
    }

    .m4
    {
    	width: 33.333333%;
    }

    .m4-important
    {
    	width: 33.333333% !important;
    }

    .m5
    {
    	width: 41.666667%;
    }

    .m5-important
    {
    	width: 41.666667% !important;
    }

    .m6
    {
    	width: 50%;
    }

    .m6-important
    {
    	width: 50% !important;
    }

    .m7
    {
    	width: 58.333333%;
    }

    .m7-important
    {
    	width: 58.333333% !important;
    }

    .m8
    {
    	width: 66.666667%;
    }

    .m8-important
    {
    	width: 66.666667% !important;
    }

    .m9
    {
    	width: 75%;
    }

    .m9-important
    {
    	width: 75% !important;
    }

    .m10
    {
    	width: 83.333333%;
    }

    .m10-important
    {
    	width: 83.333333% !important;
    }

    .m11
    {
    	width: 91.666667%;
    }

    .m11-important
    {
    	width: 91.666667% !Important;
    }

    .m12
    {
    	width: 100%;
    }

    .m12-important
    {
    	width: 100% !important;
    }

    .m-padding-bottom-20
    {
        padding-bottom: 20px !Important;
    }

    .m-mdl-shadow--2dp
    {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

    .m-mdl-shadow--2dp-important
    {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
    }

}

/*
Large devices only
*/
@media(min-width: 992px)
{
    .l-margin-top--81
    {
        margin-top: -81px;
    }

    .l-margin-left-15
    {
        margin-left: 15px;
    }

    .l-margin-top--192
    {
        margin-top: -192px;
    }

    .l-padding-left-25
    {
        padding-left: 25px;
    }

    .l-padding-right-25
    {
        padding-right: 25px;
    }

    .l-padding-top-60
    {
        padding-top: 60px;
    }

    .l-padding-bottom-200
    {
        padding-bottom: 200px;
    }

    .l-letter-spacing-3
    {
        letter-spacing: 3px;
    }

    .l-max-width-600
    {
        max-width: 600px !Important;
    }

    .l-margin-auto
    {
        margin: auto;
    }

    .l-padding-30
    {
        padding: 30px;
    }

    .l-margin-top--150
    {
        margin-top: -150px;
    }

    .l-mdl-shadow-2
    {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .l-padding-left-right-5
    {
        padding: 0px 5px;
    }

    .l-padding-right-10
    {
        padding-right: 10px;
    }

    .l-left
    {
        float: left !Important;
    }

    .l-right
    {
        float: right !Important;
    }

    .l-max-width-800
    {
        max-width: 800px;
    }

    .l-back-core-red
    {
        background: #00BCD4 !important;
        background-color: #00BCD4 !important;
    }

    .l-mdl-shadow--2dp
    {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

    .l-mdl-shadow--2dp-important
    {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
    }

    .l1
    {
    	width: 8.333333%;
    }

    .l1-important
    {
    	width: 8.333333% !important;
    }

    .l2
    {
    	width: 16.666667%;
    }

    .l2-important
    {
    	width: 16.666667% !important;
    }

    .l3
    {
    	width: 25%;
    }

    .l3-important
    {
    	width: 25% !important;
    }

    .l4
    {
    	width: 33.333333%;
    }

    .l4-important
    {
    	width: 33.333333% !important;
    }

    .l5
    {
    	width: 41.666667%;
    }

    .l5-important
    {
    	width: 41.666667% !important;
    }

    .l6
    {
    	width: 50%;
    }

    .l6-important
    {
    	width: 50% !important;
    }

    .l7
    {
    	width: 58.333333%;
    }

    .l7-important
    {
    	width: 58.333333% !important;
    }

    .l8
    {
    	width: 66.666667%;
    }

    .l8-important
    {
    	width: 66.666667% !important;
    }

    .l9
    {
    	width: 75%;
    }

    .l9-important
    {
    	width: 75% !important;
    }

    .l10
    {
    	width: 83.333333%;
    }

    .l10-important
    {
    	width: 83.333333% !important;
    }

    .l11
    {
    	width: 91.666667%;
    }

    .l11-important
    {
    	width: 91.666667% !Important;
    }

    .l12
    {
    	width: 100%;
    }

    .l12-important
    {
    	width: 100% !important;
    }

    .l-border-left
    {
        border-left: 1px solid #ccc;
    }

    .l-min-height-500
    {
        min-height: 500px;
    }

    .l-margin-bottom-50
    {
        margin-bottom:50px;
    }

    .l-margin-top--55
    {
        margin-top:-55px;
    }

}
